.swiper {
    width: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    display: none !important;
  }